/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

/* The "drop" class is added to the topnav with JavaScript 
when the user clicks on the icon. 
This class makes the topnav look good on small screens 
(display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .navbar.drop {position: fixed;}
    .navbar.drop a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .navbar.drop a {
        float: none;
        display: block;
        text-align: left;
    }
    .navbar.drop .dropdown {float: none;}
    .navbar.drop .dropdown-content {
        position: fixed;
        background-color: #c6e1eb;
    }
    .navbar.drop .dropdown .dropbtn {
        display: none;
        width: 100%;
        text-align: left;
    }
    .active {
        background-color: #f0f8fc;
      }
}


@media only screen and (min-width: 600px) {
    .page{
        text-align: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }
    article {
        padding: 15px;
        box-shadow: 0px 0px 12px 1px  rgba(09,28,34, 0.2);
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 640px){
    .page{
        max-width: 95%;
    }
}
@media only screen and (min-width: 1200px){
    .flex-container{
        display: flex;
        flex-wrap: nowrap;
    }
    .flex-container .box{
        width: 45%;
        vertical-align: text-top;
        padding: 0 8px 2px 8px;
        box-shadow: 0px 0px 2px  rgba(09,28,34, 0.2);
    }
    .flex-container .boxes{
        width: 55%;
        vertical-align: text-top;
        padding: 0;
        
    }
}