body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #f9fbfc;
    margin:0;
    padding:0;
}

 /* Add a black background color to the top navigation */
 .navbar {
    background-color: #c6e1eb;
    font-family: Verdana, Geneva, sans-serif;
    overflow: hidden;
    border-bottom: 2px outset #f0f8fc;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: #092834;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar img{
    height: 48px;
    padding: 0;
    padding-left: 14px;
    padding-right: 14px;
    border: 0;
  }
  /* Add an active class to highlight the current page */
  .active {
    background-color: #f0f8fc;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .navbar .icon {
    display: none;
  }
  
  /* Dropdown container - needed to position the dropdown content */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #092834;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #092834;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a dark background on topnav links and the dropdown button on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #347B98;
    color: #f0f8fc;
  }
  
  /* Add a grey background to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #347B98;
    color: #f0f8fc;
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
  }

    /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
    @media only screen and (max-width: 1280px) {
        .navbar.responsive .dropdown-content {
            display: block;
          }
    }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 600px) {
    .navbar a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .navbar.responsive .dropdown {float: none;}
    .navbar.responsive .dropdown-content {
        position: relative;
        display: block;
        background-color: #c6e1eb;
    }
    .navbar.responsive .dropdown .dropbtn {
      display: none;
      width: 100%;
      text-align: left;
    }
  }

/* Prev and Next on the bottom navbar */
.navbar-bottom {
    background-color: #c6e1eb;
    font-family: Verdana, Geneva, sans-serif;
    overflow: hidden;
    border-bottom: 2px outset #f0f8fc;
    width: 100%;
  }
  .nav-left {
    float: left;
    display: block;
    color: #092834;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
} 
.nav-right {
    float: right;
    display: block;
    color: #092834;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 20px;
} 



.page{
    text-align: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    background-color: #f9fbfc;
}
article {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
}

@media only screen and (min-width: 600px) {
    .page{
        text-align: center;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 15px;
    }
    article {
        padding: 15px;
        font-size: 14px;
        line-height: 20px;
        box-shadow: 0px 0px 12px 1px  rgba(09,28,34, 0.2);
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 640px){
    .page{
        max-width: 95%;
    }
}
@media only screen and (min-width: 1200px){
    .page{
        max-width: 95%;
    }
    .flex-container{
        display: flex;
        flex-wrap: nowrap;
    }
    .flex-container .box{
        width: 45%;
        vertical-align: text-top;
        padding: 0 8px 2px 8px;
        box-shadow: 0px 0px 2px  rgba(09,28,34, 0.2);
    }
    .flex-container .boxes{
        width: 55%;
        vertical-align: text-top;
        padding: 0;
        
    }
}

h1, h2, h3, h4, h5, h6 {
    color: #092834;
    font-family: "Georgia","Times New Roman",serif;
}
article img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    width: 480px;
}
@media screen and (max-width: 480px){
    article img {
        width: 95%;
    }
}
.code {
    font-family: "Lucida Console","Monaco",monospace;
}
.code-bg{
    font-family: "Courier New", Courier, monospace;
}

.footer {
    border-top: 1px outset #0B3241;
    text-align: center;
    opacity: 0.60;
    padding-top: 8px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

/*Code formatting*/
.code .nn {
	color: #0000FF;
	font-weight: bold;
}
.code .f {
    color: #00f;
}
.code .o {
	color: #666666;
}
.code .k {
	color: #008000;
	font-weight: bold;
}
.code .ow {
	color: #AA22FF;
	font-weight: bold;
}
.code .s2 { /* string */
	color: #BA2121;
}
.code .si {
	color: #BB6688;
	font-weight: bold;
}
.code .se {
	color: #BB6622;
	font-weight: bold;
}
.code .nb { /* numeric */
	color: #008000;
}
.code .c {/* comments */
    color: #408080;
    font-style: italic;
}
.code .cn {/* constants */
    color: maroon;
}
.code {
    background-color: #eee;
    border: 1px solid lightgrey;
    padding: 0 8px 0 8px;
    line-height: 1.2;
}
.diff {
    background-color: azure;
    border: 1px solid lightgrey;
    padding: 0;
    line-height: 1.4;
    box-shadow: 0 0 8px black;
    padding: 0 8px 0 8px;
    margin-right: -8px; 
    margin-left: -8px;
}
.console {
    background-color: black;
    border: 1px solid greenyellow;
    padding: 0 8px 0 8px;
    color: lime;
}
